// src/preloader/style.module.scss
.introduction {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 99;
    background-color: #1A0F14;

    svg {
        position: absolute;
        top: 0;
        width: 100%;
        height: calc(100% + 300px);

        path {
            fill: #1A0F14;
        }
    }

    p {
        display: flex;
        color: #FF8A9A;
        font-size: 45px;
        align-items: center;
        position: absolute;
        z-index: 1;
    }

    @media (max-width: 700px) {
        p {
            font-size: 7vw;
        }
    }
    @media (max-width: 2000px) {
        p {
            font-size: 5vw;
        }
    }
}

// Add this to use Poppins font (see note below)
.poppinsFont {
    font-family: 'Poppins', sans-serif;
}
